/*
 █████╗ ██╗     ██╗███████╗███╗   ██╗
██╔══██╗██║     ██║██╔════╝████╗  ██║
███████║██║     ██║█████╗  ██╔██╗ ██║
██╔══██║██║     ██║██╔══╝  ██║╚██╗██║
██║  ██║███████╗██║███████╗██║ ╚████║
╚═╝  ╚═╝╚══════╝╚═╝╚══════╝╚═╝  ╚═══╝
 ╦╔╗╔╔═╗╔╦╗╦═╗╦ ╦╔╦╗╔═╗╔╗╔╔╦╗╔═╗
 ║║║║╚═╗ ║ ╠╦╝║ ║║║║║╣ ║║║ ║ ╚═╗
 ╩╝╚╝╚═╝ ╩ ╩╚═╚═╝╩ ╩╚═╝╝╚╝ ╩ ╚═╝
*/

body {
  font-family: Arial, sans-serif;
  color: var(--font-color, whitesmoke);
  background-color: var(--background-color, black);
  transition: background-color 0.5s ease; /* Set the base font size */
}

:root {
  --font-family: Arial, sans-serif;
  --font-size: 16px;
  --font-weight: normal;
  --font-style: normal;
  --font-variant: normal;
 --text-decoration: normal;
}

body,
th,
h1,
h2,
h3,
p,
span,
div,
select,
button,
label,
input[type="text"] {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  font-variant: var(--font-variant);
  letter-spacing: var(--letter-spacing);
  word-spacing: var(--word-spacing);
  line-height: var(--line-spacing);
  text-decoration: var(--text-decoration);
}

/* Define focus styles for all elements */
:focus {
  outline: var(--focus-size, 4px) solid var(--focus-color, #0000ff); /* Default color if not set */
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("../accessibility/OpenDyslexic-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Alien";
  src: url("../accessibility/antar.regular.ttf") format("opentype");
}

.hidden {
  display: none;
}

div {
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  margin: 5px;
}

.group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  margin: 5px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  text-align: center;
  justify-content: center;
  border: 2px solid;
  padding: 5px;
  margin: 5px;
  border-color: var(--panel-border-color);
  border-radius: var(--border-radius);
  background: var(--panel-background-color);
  background-image: linear-gradient(
    var(--panel-background-color),
    var(--panel-gradient-color)
  );
  height: auto;
}

.slider-container label {
  margin-bottom: 20px;
}

.slider-container .slider {
  width: 100%;
  margin-bottom: 30px;
}

.slider-container .slider-output {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-color: var(--panel-border-color);
  border-radius: var(--border-radius);
  background: var(--panel-background-color);
  background-image: linear-gradient(
    var(--panel-background-color),
    var(--panel-gradient-color)
  );
  text-align: center;
  border-radius: var(--border-radius);
}

button {
  background-color: var(--button-background, blue);
  color: var(--button-font, whitesmoke);
  border: 2px solid var(--button-border);
  border-radius: var(--border-radius);
  margin: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

button:disabled {
  background-color: var(--button-disabled-background, lightgray);
  color: var(--button-disabled-font, gray);
  border: 2px solid var(--button-disabled-border, darkgray);
  cursor: not-allowed;
  opacity: 0.6;
}

select:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.slider-container input[type="range"]:focus::-webkit-slider-thumb {
  outline: var(--focus-size) solid var(--focus-color);
  outline-offset: 0.125rem;
}

/* Range slider designs */

.slider-container.classic input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--slider-track-color);
  outline: none;
  width: 200px;
  height: 6px;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 5px;
  cursor: pointer;
  margin: 25px;
}

.slider-container.classic input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 70px;
  height: 35px;
  background: linear-gradient(
      to right,
      transparent 0%,
      transparent 10%,
      transparent 10%,
      transparent 11%,
      transparent 11%,
      transparent 16%,
      black 16%,
      black 17%,
      transparent 17%,
      transparent 22%,
      black 22%,
      black 23%,
      transparent 23%,
      transparent 28%,
      black 28%,
      black 29%,
      transparent 29%,
      transparent 34%,
      black 34%,
      black 35%,
      transparent 35%,
      transparent 40%,
      black 40%,
      black 41%,
      transparent 41%,
      transparent 46%,
      black 46%,
      black 47%,
      transparent 47%,
      transparent 52%,
      black 52%,
      black 53%,
      var(--slider-outline-color, #c51162) 53%,
      var(--slider-outline-color, #c51162) 57%,
      black 57%,
      black 58%,
      transparent 58%,
      transparent 63%,
      black 63%,
      black 64%,
      transparent 64%,
      transparent 69%,
      black 69%,
      black 70%,
      transparent 70%,
      transparent 75%,
      black 75%,
      black 76%,
      transparent 76%,
      transparent 81%,
      black 81%,
      black 82%,
      transparent 82%,
      transparent 87%,
      black 87%,
      black 88%,
      transparent 88%,
      transparent 93%,
      transparent 93%,
      transparent 94%,
      transparent 94%,
      transparent 99%,
      transparent 99%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      var(--slider-thumb-color, #4caf50) 0%,
      var(--slider-thumb-color, #4caf50) 100%
    ),
    linear-gradient(135deg, transparent 15%, #ffffff33 50%, transparent 85%);
  border: none;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5),
    inset 0 1px 4px rgba(255, 255, 255, 0.3),
    inset 0 -1px 4px rgba(0, 0, 0, 0.3);
  background-blend-mode: normal, normal, overlay; /* Blends the tilting effect with the base colors */
}

.slider-container.classic input[type="range"]::-moz-range-thumb {
  width: 70px;
  height: 35px;
  background: linear-gradient(
      to right,
      transparent 0%,
      transparent 10%,
      transparent 10%,
      transparent 11%,
      transparent 11%,
      transparent 16%,
      black 16%,
      black 17%,
      transparent 17%,
      transparent 22%,
      black 22%,
      black 23%,
      transparent 23%,
      transparent 28%,
      black 28%,
      black 29%,
      transparent 29%,
      transparent 34%,
      black 34%,
      black 35%,
      transparent 35%,
      transparent 40%,
      black 40%,
      black 41%,
      transparent 41%,
      transparent 46%,
      black 46%,
      black 47%,
      transparent 47%,
      transparent 52%,
      black 52%,
      black 53%,
      var(--slider-outline-color, #c51162) 53%,
      var(--slider-outline-color, #c51162) 57%,
      black 57%,
      black 58%,
      transparent 58%,
      transparent 63%,
      black 63%,
      black 64%,
      transparent 64%,
      transparent 69%,
      black 69%,
      black 70%,
      transparent 70%,
      transparent 75%,
      black 75%,
      black 76%,
      transparent 76%,
      transparent 81%,
      black 81%,
      black 82%,
      transparent 82%,
      transparent 87%,
      black 87%,
      black 88%,
      transparent 88%,
      transparent 93%,
      transparent 93%,
      transparent 94%,
      transparent 94%,
      transparent 99%,
      transparent 99%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      var(--slider-thumb-color, #4caf50) 0%,
      var(--slider-thumb-color, #4caf50) 100%
    ),
    linear-gradient(135deg, transparent 15%, #ffffff33 50%, transparent 85%);
  border: none;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5),
    inset 0 1px 4px rgba(255, 255, 255, 0.3),
    inset 0 -1px 4px rgba(0, 0, 0, 0.3);
  background-blend-mode: normal, normal, overlay;
}

/* Minimal */

.slider-container.minimal input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--slider-track-color);
  outline: none;
  width: 200px;
  height: 4px;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
  margin: 32px;
}

.slider-container.minimal input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
}

.slider-container.minimal input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
}

/* Fancy */
.slider-container.fancy input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--slider-track-color);
  outline: none;
  width: 200px;
  height: 4px;
  border-radius: 5px;
  transition: opacity 0.2s, box-shadow 0.2s;
  cursor: pointer;
  margin: 32px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.slider-container.fancy input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
  background: linear-gradient(
      to right,
      transparent 0%,
      transparent 10%,
      transparent 10%,
      transparent 11%,
      transparent 11%,
      transparent 16%,
      black 16%,
      black 17%,
      transparent 17%,
      transparent 22%,
      black 22%,
      black 23%,
      transparent 23%,
      transparent 28%,
      black 28%,
      black 29%,
      transparent 29%,
      transparent 34%,
      black 34%,
      black 35%,
      transparent 35%,
      transparent 40%,
      black 40%,
      black 41%,
      transparent 41%,
      transparent 46%,
      black 46%,
      black 47%,
      transparent 47%,
      transparent 52%,
      black 52%,
      black 53%,
      var(--slider-track-color, #c51162) 53%,
      var(--slider-track-color, #c51162) 57%,
      black 57%,
      black 58%,
      transparent 58%,
      transparent 63%,
      black 63%,
      black 64%,
      transparent 64%,
      transparent 69%,
      black 69%,
      black 70%,
      transparent 70%,
      transparent 75%,
      black 75%,
      black 76%,
      transparent 76%,
      transparent 81%,
      black 81%,
      black 82%,
      transparent 82%,
      transparent 87%,
      black 87%,
      black 88%,
      transparent 88%,
      transparent 93%,
      transparent 93%,
      transparent 94%,
      transparent 94%,
      transparent 99%,
      transparent 99%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      var(--slider-thumb-color, #4caf50) 0%,
      var(--slider-thumb-color, #4caf50) 100%
    ),
    linear-gradient(135deg, transparent 15%, #ffffff33 50%, transparent 85%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4),
    inset 0 2px 4px rgba(255, 255, 255, 0.3);
  transition: transform 0.2s;
}

.slider-container.fancy input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
  background: linear-gradient(
      to right,
      transparent 0%,
      transparent 10%,
      transparent 10%,
      transparent 11%,
      transparent 11%,
      transparent 16%,
      black 16%,
      black 17%,
      transparent 17%,
      transparent 22%,
      black 22%,
      black 23%,
      transparent 23%,
      transparent 28%,
      black 28%,
      black 29%,
      transparent 29%,
      transparent 34%,
      black 34%,
      black 35%,
      transparent 35%,
      transparent 40%,
      black 40%,
      black 41%,
      transparent 41%,
      transparent 46%,
      black 46%,
      black 47%,
      transparent 47%,
      transparent 52%,
      black 52%,
      black 53%,
      var(--slider-track-color, #c51162) 53%,
      var(--slider-track-color, #c51162) 57%,
      black 57%,
      black 58%,
      transparent 58%,
      transparent 63%,
      black 63%,
      black 64%,
      transparent 64%,
      transparent 69%,
      black 69%,
      black 70%,
      transparent 70%,
      transparent 75%,
      black 75%,
      black 76%,
      transparent 76%,
      transparent 81%,
      black 81%,
      black 82%,
      transparent 82%,
      transparent 87%,
      black 87%,
      black 88%,
      transparent 88%,
      transparent 93%,
      transparent 93%,
      transparent 94%,
      transparent 94%,
      transparent 99%,
      transparent 99%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      var(--slider-thumb-color, #4caf50) 0%,
      var(--slider-thumb-color, #4caf50) 100%
    ),
    linear-gradient(135deg, transparent 15%, #ffffff33 50%, transparent 85%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4),
    inset 0 2px 4px rgba(255, 255, 255, 0.3);
  transition: transform 0.2s;
}

.slider-container.fancy input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.1);
}

.slider-container.fancy input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.1);
}

/* Retro */
.slider-container.retro input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--slider-track-color);
  outline: none;
  width: 200px;
  height: 16px;
  border-radius: 3px;
  transition: opacity 0.2s, box-shadow 0.2s;
  cursor: pointer;
  margin: 35px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.slider-container.retro input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7), inset 0 0 5px rgba(255, 255, 255, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
}

.slider-container.retro input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7), inset 0 0 5px rgba(255, 255, 255, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
}

.slider-container.retro input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9),
    inset 0 0 7px rgba(255, 255, 255, 0.5);
}

.slider-container.retro input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9),
    inset 0 0 7px rgba(255, 255, 255, 0.5);
}

/* Modern Mixing Desk */
.slider-container.modern input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--slider-track-color);
  outline: none;
  width: 200px;
  height: 8px;
  border-radius: 4px;
  transition: opacity 0.2s, box-shadow 0.2s;
  cursor: pointer;
  margin: 38px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), 0 2px 5px rgba(0, 0, 0, 0.3);
}

.slider-container.modern input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 50px;
  border-radius: 4px;
  border: 2px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
    inset 0 1px 2px rgba(255, 255, 255, 0.5);
  transition: transform 0.2s, box-shadow 0.2s;
}

.slider-container.modern input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 50px;
  border-radius: 4px;
  border: 2px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
    inset 0 1px 2px rgba(255, 255, 255, 0.5);
  transition: transform 0.2s, box-shadow 0.2s;
}

.slider-container.modern input[type="range"]:hover::-webkit-slider-thumb {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3),
    inset 0 1px 2px rgba(255, 255, 255, 0.5);
}

.slider-container.modern input[type="range"]:hover::-moz-range-thumb {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3),
    inset 0 1px 2px rgba(255, 255, 255, 0.5);
}

.slider-container.modern input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4),
    inset 0 2px 4px rgba(255, 255, 255, 0.5);
}

.slider-container.modern input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4),
    inset 0 2px 4px rgba(255, 255, 255, 0.5);
}

/* Neon */
.slider-container.neon input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--slider-track-color);
  outline: none;
  width: 200px;
  height: 8px;
  border-radius: 4px;
  transition: opacity 0.2s, box-shadow 0.2s;
  cursor: pointer;
  margin: 25px;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.5),
    inset 0 0 5px rgba(0, 255, 255, 0.3);
}

.slider-container.neon input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.7),
    inset 0 0 5px rgba(255, 255, 255, 0.4);
  transition: transform 0.2s, box-shadow 0.2s;
}

.slider-container.neon input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.7),
    inset 0 0 5px rgba(255, 255, 255, 0.4);
  transition: transform 0.2s, box-shadow 0.2s;
}

.slider-container.neon input[type="range"]:hover::-webkit-slider-thumb {
  box-shadow: 0 0 20px rgba(0, 255, 255, 1),
    inset 0 0 8px rgba(255, 255, 255, 0.6);
}

.slider-container.neon input[type="range"]:hover::-moz-range-thumb {
  box-shadow: 0 0 20px rgba(0, 255, 255, 1),
    inset 0 0 8px rgba(255, 255, 255, 0.6);
}

.slider-container.neon input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
  box-shadow: 0 0 25px rgba(0, 255, 255, 1.2),
    inset 0 0 10px rgba(255, 255, 255, 0.7);
}

.slider-container.neon input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
  box-shadow: 0 0 25px rgba(0, 255, 255, 1.2),
    inset 0 0 10px rgba(255, 255, 255, 0.7);
}

/* Flat */
.slider-container.flat input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--slider-track-color);
  outline: none;
  width: 200px;
  height: 8px;
  border-radius: 4px;
  cursor: pointer;
  margin: 25px;
}

.slider-container.flat input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 5%;
  background-color: var(--slider-thumb-color);
  border: 3px solid var(--slider-outline-color);
}

.slider-container.flat input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 5%;
  background-color: var(--slider-thumb-color);
  border: 3px solid var(--slider-outline-color);
}

/* Shadow */
.slider-container.shadow input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--slider-track-color);
  outline: none;
  width: 200px;
  height: 6px;
  border-radius: 4px;
  cursor: pointer;
  margin: 30px;
  position: relative;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.5);
}

.slider-container.shadow input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 60px;
  height: 30px;
  border-radius: 2px;
  background: linear-gradient(
      to right,
      transparent 0%,
      transparent 10%,
      transparent 10%,
      transparent 11%,
      transparent 11%,
      transparent 16%,
      transparent 16%,
      transparent 17%,
      transparent 17%,
      transparent 22%,
      transparent 22%,
      transparent 23%,
      transparent 23%,
      transparent 28%,
      transparent 28%,
      transparent 29%,
      transparent 29%,
      transparent 34%,
      transparent 34%,
      transparent 35%,
      transparent 35%,
      transparent 40%,
      transparent 40%,
      transparent 41%,
      transparent 41%,
      transparent 46%,
      transparent 46%,
      transparent 47%,
      transparent 47%,
      transparent 52%,
      black 52%,
      black 53%,
      var(--slider-track-color, #c51162) 53%,
      var(--slider-track-color, #c51162) 57%,
      black 57%,
      black 58%,
      transparent 58%,
      transparent 63%,
      transparent 63%,
      transparent 64%,
      transparent 64%,
      transparent 69%,
      transparent 69%,
      transparent 70%,
      transparent 70%,
      transparent 75%,
      transparent 75%,
      transparent 76%,
      transparent 76%,
      transparent 81%,
      transparent 81%,
      transparent 82%,
      transparent 82%,
      transparent 87%,
      transparent 87%,
      transparent 88%,
      transparent 88%,
      transparent 93%,
      transparent 93%,
      transparent 94%,
      transparent 94%,
      transparent 99%,
      transparent 99%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      var(--slider-thumb-color, #4caf50) 0%,
      var(--slider-thumb-color, #4caf50) 100%
    ),
    linear-gradient(135deg, transparent 15%, #ffffff33 50%, transparent 85%);
  border: 2px solid var(--slider-outline-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5),
    inset 0 1px 3px rgba(255, 255, 255, 0.7);
  transition: transform 0.2s, box-shadow 0.2s;
}

.slider-container.shadow input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 60px;
  height: 30px;
  border-radius: 2px;
  background: linear-gradient(
      to right,
      transparent 0%,
      transparent 10%,
      transparent 10%,
      transparent 11%,
      transparent 11%,
      transparent 16%,
      transparent 16%,
      transparent 17%,
      transparent 17%,
      transparent 22%,
      transparent 22%,
      transparent 23%,
      transparent 23%,
      transparent 28%,
      transparent 28%,
      transparent 29%,
      transparent 29%,
      transparent 34%,
      transparent 34%,
      transparent 35%,
      transparent 35%,
      transparent 40%,
      black 40%,
      black 41%,
      transparent 41%,
      transparent 46%,
      black 46%,
      black 47%,
      transparent 47%,
      transparent 52%,
      black 52%,
      black 53%,
      var(--slider-track-color, #c51162) 53%,
      var(--slider-track-color, #c51162) 57%,
      black 57%,
      black 58%,
      transparent 58%,
      transparent 63%,
      black 63%,
      black 64%,
      transparent 64%,
      transparent 69%,
      black 69%,
      black 70%,
      transparent 70%,
      transparent 75%,
      transparent 75%,
      transparent 76%,
      transparent 76%,
      transparent 81%,
      transparent 81%,
      transparent 82%,
      transparent 82%,
      transparent 87%,
      transparent 87%,
      transparent 88%,
      transparent 88%,
      transparent 93%,
      transparent 93%,
      transparent 94%,
      transparent 94%,
      transparent 99%,
      transparent 99%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      var(--slider-thumb-color, #4caf50) 0%,
      var(--slider-thumb-color, #4caf50) 100%
    ),
    linear-gradient(135deg, transparent 15%, #ffffff33 50%, transparent 85%);
  border: 2px solid var(--slider-outline-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5),
    inset 0 1px 3px rgba(255, 255, 255, 0.7);
  transition: transform 0.2s, box-shadow 0.2s;
}

.slider-container.shadow input[type="range"]:hover::-webkit-slider-thumb {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6),
    inset 0 1px 4px rgba(255, 255, 255, 0.8);
}

.slider-container.shadow input[type="range"]:hover::-moz-range-thumb {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6),
    inset 0 1px 4px rgba(255, 255, 255, 0.8);
}

.slider-container.shadow input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.7),
    inset 0 2px 5px rgba(255, 255, 255, 0.9);
}

.slider-container.shadow input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.7),
    inset 0 2px 5px rgba(255, 255, 255, 0.9);
}

/* Outline */
.slider-container.outline input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 4px solid var(--slider-track-color);
  background-color: transparent; /* Make the track transparent */
  width: 200px;
  height: 25px;
  border-radius: 20px;
  cursor: pointer;
  margin: 25px;
  outline: none; /* Remove the default outline */
}

.slider-container.outline input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 4px solid var(--slider-outline-color);
  background-color: transparent;
}

.slider-container.outline input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 4px solid var(--slider-outline-color);
  background-color: transparent;
}

.slider-container.outline input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
}

.slider-container.outline input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
}

/* Glow */
.slider-container.glow input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid var(--slider-track-color);
  background-color: transparent; /* Make the track transparent */
  width: 200px;
  height: 25px;
  border-radius: 20px;
  cursor: pointer;
  margin: 25px;
  outline: none; /* Remove the default outline */
  box-shadow: 0 0 10px var(--slider-track-color);
}

.slider-container.glow input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
  box-shadow: 0 0 15px var(--slider-outline-color);
  transition: transform 0.2s, box-shadow 0.2s;
}

.slider-container.glow input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid var(--slider-outline-color);
  background-color: var(--slider-thumb-color);
  box-shadow: 0 0 15px var(--slider-outline-color);
  transition: transform 0.2s, box-shadow 0.2s;
}

.slider-container.glow input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
  box-shadow: 0 0 20px var(--slider-outline-color),
    0 0 30px var(--slider-outline-color);
}

.slider-container.glow input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
  box-shadow: 0 0 20px var(--slider-outline-color),
    0 0 30px var(--slider-outline-color);
}

.color-picker-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px; /* Set a fixed width for each color picker row */
  border: none;
}

.color-picker-row button {
  width: 200px;
  font-size: calc(
    var(--base-font-size) * 1.25
  ); /* Adjust based on base font size */
}

.font {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.font select {
  width: 90%;
  font-size: calc(var(--base-font-size) * 1.25);
}

.color-picker-row input[type="color"] {
  width: 95%; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  border: none; /* Optional: Remove default border */
  border-radius: 5px; /* Optional: Add some border radius */
  cursor: pointer; /* Optional: Change cursor on hover */
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testSelect select {
  width: 95%;
  height: 55px;
  font-size: calc(
    var(--base-font-size) * 1.25
  ); /* Adjust based on base font size */
}

.knobSelect select {
  width: 95%;
  height: 55px;
  font-size: calc(
    var(--base-font-size) * 1.25
  ); /* Adjust based on base font size */
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--select-background-color);
  color: var(--select-font-color, whitesmoke);
  border: 2px solid var(--select-border-color);
  border-radius: 4px;
  margin: 10px;
  line-height: 1.5;
  padding-right: 40px;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="var(--font-color, whitesmoke)" stroke="var(--font-color, whitesmoke)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="6 9 12 15 18 9"></polygon></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - 0.1px) center; /* Position further to the right */
  font-size: calc(
    var(--base-font-size) * 1.25
  ); /* Adjust based on base font size */
}

/* Hide the default arrow icon in Firefox */
select::-ms-expand {
  display: none;
}

/* Style the custom arrow icon */
select {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="var(--font-color, whitesmoke)" stroke="var(--font-color, whitesmoke)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="6 9 12 15 18 9"></polygon></svg>');
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.1px) center; /* Position further to the right */
}

.checkbox-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.radiobutton {
  cursor: pointer;
  padding: 3px 7px;
  background-color: var(--button-background);
  color: var(--button-font);
  border: 2px solid var(--button-border);
  border-radius: var(--border-radius);
  user-select: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  font-size: calc(var(--base-font-size) * 1.25);
}

.checkbox-wrapper input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.led-indicator {
  width: 12px;
  height: 12px;
  background-color: black; /* LED off color */
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.checkbox-wrapper input[type="checkbox"]:checked + .radiobutton .led-indicator {
  background-color: var(--group-background-color); /* LED on color */
  box-shadow: 0 0 10px var(--group-background-color),
    0 0 20px var(--group-background-color);
}

.checkbox-wrapper input[type="checkbox"]:focus + .radiobutton {
  outline: var(--focus-size) solid var(--focus-color);
}

.radiobutton label {
  margin: 0;
  cursor: pointer;
  user-select: none;
}

span {
  margin: 2px;
  padding: 2px;
  background: var(--output-background-color);
  border: 2px solid var(--output-border-color);
  border-radius: var(--border-radius);
  color: var(--output-font-color);
  text-align: center;
  font-size: calc(
    var(--base-font-size) * 1.25
  ); /* Adjust based on base font size */
}

.no-gradient {
  background-image: none;
}

.slider-container label {
  margin: 2px;
  padding: 2px;
  background: var(--label-background-color);
  border: 2px solid var(--label-border-color);
  border-radius: var(--border-radius);
  color: var(--label-font-color);
  text-align: center;
}

input[type="text"] {
  background-color: var(--black-keys-color);
  color: var(--font-keys-color);
  border: 2px solid var(--white-keys-color);
  margin: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--black-keys-color);
  border: 3px solid var(--white-keys-color);
  color: var(--font-keys-color);
  justify-content: center;
  align-items: center;
}

/* Modal content */
.modal-content {
  margin: auto;
  padding: 20px;
  border: 3px solid var(--white-keys-color);
  color: var(--font-keys-color);
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}

/* tour modal */
.custom-modal {
  position: absolute;
  background-color: var(--black-keys-color);
  border: 3px solid var(--white-keys-color);
  color: var(--font-keys-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  max-width: 50%;
  padding: 5px;
  border-radius: 5px;
}

.custom-modal-content {
  width: 100%;
  text-align: center;
  padding: 20px;
  justify-content: center;
}

.custom-modal-buttons {
  margin: 14px;
}

.focus-highlight {
  outline: var(--focus-size) solid var(--focus-color);
}

#custom-tour-text:focus {
  outline-offset: 5px;
}
